@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Raleway);

html,
body,
.GMap {
  height: 100%;
  position: relative;
  width: 100%;
}
.GMap-canvas {
  top: 20px;
  display: block;
  float: right;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.mapContainer {
  margin-left: 325px;
  margin-top: 38px;
}

.UpdatedText {
  color: red;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #394149;
  padding: 6px;
  height: 18vh;
  display: block;
}

header > h1 {
  position: absolute;
  top: 1vh;
  left: 5vw;
  color: #fafafa;
  text-shadow: 2px 2px 2px #222;
  letter-spacing: 4px;
  font-size: 2.5em;
  display: block;
  font-family: 'Pacifico', cursive;
}

.nButton {
  color: #fafafa;
  font-size: 14px;
}

header > button {
  position: relative;
  font-size: 1em;
  border: 1px solid #fafafa;
  color: #fafafa;
  background-color: #394149;
  position: absolute;
  top: 3vh;
  right: 1vw;
  width: 15vw;
  display: block;
  border-radius: 8px;
}

header > button:hover {
  background-color: #fafafa;
  color: #0A1612;
  transition: background-color 0.25s;
}

nav {
  position: relative;
  top: 13vh;
  font-size: 1.5em;
  width: 100%;
  display: block;
  font-family: 'Raleway', cursive;
  text-decoration: line;
}



nav > div {
  color: #fafafa;
  margin: 0 5vw;
  position: relative;
  font-family: 'Raleway', cursive;
  left: 12vw;
  text-align: center;
  display: inline-block;
  width: 15vw;
}

.nButton:before{
  content: '';
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fafafa;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
.nButton:hover:before{
  visibility: visible;
  transform: scaleX(1);
}

#loginError {
  display: none;
}


footer {
    background-color: #394149;
    color: #fafafa;
    text-shadow: 2px 2px 2px #222;
    letter-spacing: 1px;
    font-family: 'Pacifico', cursive;
    height: 6vh;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}

footer > p {
    text-align: right;
    position: relative;
    top: -5.2vh;
    padding-right: 50px;
}

h1:hover {
  color: yellow;
}

.center-a {
    text-align: left;
    position: relative;
    font-family: 'Raleway', cursive;
    margin-left: 4vw;
    top: 8px;
    text-decoration: none;
    color: #fafafa;
}

#loginButton {
  position: absolute;
  font-size: 1em;
  border: 1px solid #fafafa;
  background-color: #394149;
  color: #fafafa;
  top: 4vh;
  right: 2vw;
  width: 15vw;
  display: block;
}

#loginButton:hover {
  color: #394149;
  background-color: #FAFAFA;
  transition: background-color 0.25s;
}
